body{
	background-color: #fb9714;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin-top: 50px;
}

button{
	background-color: #25aef2;
  border: none;
  color: white;
  padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
	border-radius: 20px;
}
p[id=instinfo]{
	margin-top: 10px;
	font-size: 30px;
}
img{
	margin-bottom: 5px;
}
