button{
	background-color: #25aef2;
  border: none;
  color: white;
  padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
	border-radius: 20px;
}
